In [1]:
#different types of Errors

x=10
if(x>13)
print("Hello")

SyntaxError: expected ':' (1825352391.py, line 4)

In [2]:
number = 10
a = number/0
print(a)

ZeroDivisionError: division by zero

In [3]:
a=5
b= "python"+a
print(b)

TypeError: can only concatenate str (not "int") to str

In [1]:
#Basic Exception handling
try:
    x=5/0
except:
    print("Error:Division by zero!")

Error:Division by zero!

In [3]:
x=5
y="hello"
try:
    z=x+y
except:
    print("Error:Cannot add an int and a str")

Error:Cannot add an int and a str

In [4]:
a=[1,2,3]
try:
    print("Second Element = %d" %(a[1]))
    print("Second Element = %d" %(a[3]))
except:
          print("An error occurred")

Second Element = 2
An error occurred

In [10]:
a = ["python","Exception","try and except"]
try:
    for i in range(4):
        print("The index and element from the array is", i, a[i])
except:
    print("Index out of range")

The index and element from the array is 0 python
The index and element from the array is 1 Exception
The index and element from the array is 2 try and except
Index out of range

In [6]:
try:
    x= int(input("Enter a number:"))
    result=10/x
except ValueError:
    print("Error:Invalid input! please enter a valid number")
except ZeroDivisionError:
    print("Error: Division by zero")
else:
    print("Result:",result)

Enter a number: 4

Result: 2.5

In [8]:
try:
    num = int(input("Enter a number:"))
    reciprocal = 1/num
except (ZeroDivisionError,ValueError) as a:
    print(a)
else:
    print(reciprocal)

Enter a number: 0

division by zero

In [9]:
def calculate_average(number):
    try:
        if not number:
            raise ValueError("List is empty!")
        avg= sum(number)/len(number)
    except ValueError as ve:
        print("Error:",ve)
    except TypeError as te:
        print("Error:",te)
    else:
        print("Average", avg)
         
calculate_average([1,2,3])
calculate_average([])
calculate_average([1,2,'Two'])

Average 2.0
Error: List is empty!
Error: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
try:
    n=10
    d=0
    r=n/d
    print(r)
except:
    print("Error: Denominator cannot be 0")
finally:
    print("This is finally block")

Error: Denominator cannot be 0
This is finally block

In [28]:
try:
    raise NameError("hi there")
except NameError as name:
    print("An exception")
    print(name)

An exception
hi there

In [11]:
class CustomError(Exception):
    pass
raise CustomError("This is custom error message")

CustomError: This is custom error message

In [12]:
try:
    raise CustomError("This is a custom error message")
except CustomError as e:
    print("Caught CustomError:",e)

Caught CustomError: This is a custom error message

In [14]:
import sqlite3
db = sqlite3.connect("stud.db")
cursor = db.cursor()
cursor.execute('''CREATE TABLE emp1(
                id INT PRIMARY KEY,
                empname TEXT)''')

In [18]:
cursor.execute("INSERT INTO emp1 VALUES(108,'Bushra')")

In [19]:
db.commit()

In [25]:
row = cursor.execute("Select * from emp1")
for i in row:
    print(i)
print("-" * 80)

(102, 'Nikhat')
(108, 'Bushra')
(104, 'Fathima')
--------------------------------------------------------------------------------

In [24]:
cursor.execute("INSERT INTO emp1 VALUES(104,'Fathima')")
db.commit()