
# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for executing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).

Once Pandas is installed, you can import it and check the version:

In [1]:
import pandas as pd 
pd.__version__

'2.0.3'

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provide a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [2]:
import numpy as np
import pandas as pd

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [3]:

counts = pd.Series([632, 1638, 569, 115])
counts

0     632
1    1638
2     569
3     115
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [4]:
counts.values

array([ 632, 1638,  569,  115], dtype=int64)

In [5]:
counts.index

RangeIndex(start=0, stop=4, step=1)

We can assign meaningful labels to the index, if they are available:

In [6]:
bacteria = pd.Series([632, 1638, 569, 115], 
    index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes'])

bacteria

Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [9]:
bacteria['Bacteroidetes']

115

Notice that the indexing operation preserve the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [12]:
bacteria[2]

569

We can give both the array of values and the index meaningful labels themselves:

In [7]:
bacteria.name = 'Mydemo'
bacteria.index.name = 'INDEX1'
bacteria

INDEX1
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
Name: Mydemo, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [8]:
np.log(bacteria)

INDEX1
Firmicutes        6.448889
Proteobacteria    7.401231
Actinobacteria    6.343880
Bacteroidetes     4.744932
Name: Mydemo, dtype: float64

We can also filter according to the values in the `Series`:

In [9]:
bacteria[bacteria>500]

INDEX1
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Name: Mydemo, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [11]:
details = {'name':'Bushra Anjum','age':21,'USN':'U19ON21S0016'}
print(details)
pd.Series(details)

{'name': 'Bushra Anjum', 'age': 21, 'USN': 'U19ON21S0016'}

name    Bushra Anjum
age               21
USN     U19ON21S0016
dtype: object

In [18]:
bacteria_dict = {'Firmicutes': 632, 'Proteobacteria': 1500, 'Actinobacteria': 569, 'Bacteroidetes': 115}
print(bacteria_dict)
pd.Series(bacteria_dict)

{'Firmicutes': 632, 'Proteobacteria': 1500, 'Actinobacteria': 569, 'Bacteroidetes': 115}

Firmicutes         632
Proteobacteria    1500
Actinobacteria     569
Bacteroidetes      115
dtype: int64

``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities.

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of  Python dictionary.
A dictionary is a structure that maps arbitrary keys to set of arbitrary values, and ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from Python dictionary:

## DataFrame: bi-dimensional Series with two (or more) indices

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

The DataFrame has both row and column index; it can be thought of as a dict of Series (all sharing the same index).

DataFrame's can be created in different ways. One of them is from dict's.

In [12]:
data = {"Province": ["FL", "FL", "NH", "NH", "ZH"],
        "Year": [2013, 2014, 2013, 2014, 2014],
        "Literacy": [0.2, 0.1, 0.5, 0.3, 0.5]}
print(data)
data = pd.DataFrame(data)
data

{'Province': ['FL', 'FL', 'NH', 'NH', 'ZH'], 'Year': [2013, 2014, 2013, 2014, 2014], 'Literacy': [0.2, 0.1, 0.5, 0.3, 0.5]}

  Province  Year  Literacy
0       FL  2013       0.2
1       FL  2014       0.1
2       NH  2013       0.5
3       NH  2014       0.3
4       ZH  2014       0.5

To change the order of the columns:

In [14]:
df = pd.DataFrame(data, columns=[ "Province" ,"Literacy","Year"])
df

  Province  Literacy  Year
0       FL       0.2  2013
1       FL       0.1  2014
2       NH       0.5  2013
3       NH       0.3  2014
4       ZH       0.5  2014

An `index` can be passed (as with Series), and passing column names not existing, will result in missing data.

Assigning values to new columns is easy

In [16]:
df['nonsense'] = df.Year / df.Literacy
df

  Province  Literacy  Year      nonsense
0       FL       0.2  2013  10065.000000
1       FL       0.1  2014  20140.000000
2       NH       0.5  2013   4026.000000
3       NH       0.3  2014   6713.333333
4       ZH       0.5  2014   4028.000000

In [18]:
df['Serie_aligned'] = pd.Series(range(5), index=[0,3,2,1,4])
df

  Province  Literacy  Year      nonsense  Serie_aligned
0       FL       0.2  2013  10065.000000              0
1       FL       0.1  2014  20140.000000              3
2       NH       0.5  2013   4026.000000              2
3       NH       0.3  2014   6713.333333              1
4       ZH       0.5  2014   4028.000000              4

Passing a dicts where the values are dicts is also possible

In [19]:
df.to_dict()

{'Province': {0: 'FL', 1: 'FL', 2: 'NH', 3: 'NH', 4: 'ZH'},
 'Literacy': {0: 0.2, 1: 0.1, 2: 0.5, 3: 0.3, 4: 0.5},
 'Year': {0: 2013, 1: 2014, 2: 2013, 3: 2014, 4: 2014},
 'nonsense': {0: 10065.0,
  1: 20140.0,
  2: 4026.0,
  3: 6713.333333333334,
  4: 4028.0},
 'Serie_aligned': {0: 0, 1: 3, 2: 2, 3: 1, 4: 4}}

In [29]:
pd.DataFrame(df.to_dict())

   Year Province  Literacy  Serie_aligned
0  2013       FL       0.2              0
1  2014       FL       0.1              3
2  2013       NH       0.5              2
3  2014       NH       0.3              1
4  2014       ZH       0.5              4

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof with Pandas.
We will additionally see the well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [20]:
rng = np.random.RandomState(0)
ser = pd.Series(np.random.randint(0, 10, 4))
ser

0    0
1    1
2    9
3    7
dtype: int32

In [21]:
help(np.random.randint)

Help on built-in function randint:

randint(...) method of numpy.random.mtrand.RandomState instance
    randint(low, high=None, size=None, dtype=int)

    Return random integers from `low` (inclusive) to `high` (exclusive).

    Return random integers from the "discrete uniform" distribution of
    the specified dtype in the "half-open" interval [`low`, `high`). If
    `high` is None (the default), then results are from [0, `low`).

    .. note::
        New code should use the `~numpy.random.Generator.integers`
        method of a `~numpy.random.Generator` instance instead;
        please see the :ref:`random-quick-start`.

    Parameters
    ----------
    low : int or array-like of ints
        Lowest (signed) integers to be drawn from the distribution (unless
        ``high=None``, in which case this parameter is one above the
        *highest* such integer).
    high : int or array-like of ints, optional
        If provided, one above the largest (signed) integer to be drawn
        from the distribution (see above for behavior if ``high=None``).
        If array-like, must contain integer values
    size : int or tuple of ints, optional
        Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
        ``m * n * k`` samples are drawn.  Default is None, in which case a
        single value is returned.
    dtype : dtype, optional
        Desired dtype of the result. Byteorder must be native.
        The default value is int.

        .. versionadded:: 1.11.0

    Returns
    -------
    out : int or ndarray of ints
        `size`-shaped array of random integers from the appropriate
        distribution, or a single such random int if `size` not provided.

    See Also
    --------
    random_integers : similar to `randint`, only for the closed
        interval [`low`, `high`], and 1 is the lowest value if `high` is
        omitted.
    random.Generator.integers: which should be used for new code.

    Examples
    --------
    >>> np.random.randint(2, size=10)
    array([1, 0, 0, 0, 1, 1, 0, 0, 1, 0]) # random
    >>> np.random.randint(1, size=10)
    array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

    Generate a 2 x 4 array of ints between 0 and 4, inclusive:

    >>> np.random.randint(5, size=(2, 4))
    array([[4, 0, 2, 1], # random
           [3, 2, 2, 0]])

    Generate a 1 x 3 array with 3 different upper bounds

    >>> np.random.randint(1, [3, 5, 10])
    array([2, 2, 9]) # random

    Generate a 1 by 3 array with 3 different lower bounds

    >>> np.random.randint([1, 5, 7], 10)
    array([9, 8, 7]) # random

    Generate a 2 by 4 array using broadcasting with dtype of uint8

    >>> np.random.randint([1, 3, 5, 7], [[10], [20]], dtype=np.uint8)
    array([[ 8,  6,  9,  7], # random
           [ 1, 16,  9, 12]], dtype=uint8)

In [22]:
dfr = pd.DataFrame(np.random.randint(0, 10, (8, 4)),
                  columns=['A', 'B', 'C', 'D'])
dfr

   A  B  C  D
0  8  9  8  6
1  8  4  1  1
2  1  2  7  7
3  2  9  7  4
4  2  3  5  5
5  8  3  0  9
6  2  3  0  2
7  7  1  0  0

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [119]:
np.exp(ser)

0    148.413159
1      1.000000
2     20.085537
3     20.085537
dtype: float64

Or, for a slightly more complex calculation:

In [39]:
np.sin(dfr * np.pi / 4)

              A             B             C             D
0  7.071068e-01  0.000000e+00  7.071068e-01 -2.449294e-16
1  7.071068e-01  0.000000e+00 -2.449294e-16 -1.000000e+00
2  1.224647e-16  7.071068e-01  0.000000e+00  1.224647e-16
3 -1.000000e+00 -2.449294e-16  7.071068e-01 -2.449294e-16
4  1.224647e-16  7.071068e-01  7.071068e-01 -1.000000e+00
5 -7.071068e-01  7.071068e-01  7.071068e-01 -1.000000e+00
6  7.071068e-01  7.071068e-01  7.071068e-01  1.224647e-16
7  1.000000e+00 -1.000000e+00 -7.071068e-01 -2.449294e-16

## Universal Functions: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [23]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')
print(area)
population

Alaska        1723337
Texas          695662
California     423967
Name: area, dtype: int64

California    38332521
Texas         26448193
New York      19651127
Name: population, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [24]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [25]:
print(area.index) 
print(population.index)

Index(['Alaska', 'Texas', 'California'], dtype='object')
Index(['California', 'Texas', 'New York'], dtype='object')

In [48]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
print(A)
print(B)
A + B

0    2
1    4
2    6
dtype: int64
1    1
2    3
3    5
dtype: int64

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [53]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

In [26]:
import random 
def startPlayer(uName):
    player = int(input("Enter your turn 1 or 2"))
    if player == 1:
        player = uName
        print("you will go first")
    else:
        player = "Computer"
        print("I will go First.")
    return player

def Computer():
    compNum = random.randint(1,3)
    return compNum
    
def User():
    userNum = int(input("Choose from 1 to 3"))
    if userNum<1 or userNum>3:
      print("Enter a valid number")
      return User()
    else:
      return userNum
        
def winning(opponent,uName):
    if opponent == "Computer":
        print("Computer won !")
    else:
        print(uName,'won !')
def game(uName):
    t = 0
    firstp =  startPlayer(uName)
    while t<21:
        if firstp == 'Computer':
            num = Computer()
            t += num
            print("Computer has choosen:",num)
            firstp = uName
            print("The numbers so far are:", list(range(1, t+1)))
        else:
            num = User()
            t += num
            print(uName,"has choosen:",num)
            firstp = 'Computer'
            print("The numbers so far are:", list(range(1, t+1)))
            
     
    return firstp
userName = input("What is your name?")
player = game(userName)
winning(player,userName)

What is your name? bushra
Enter your turn 1 or 2 2

I will go First.
Computer has choosen: 1
The numbers so far are: [1]

Choose from 1 to 3 2

bushra has choosen: 2
The numbers so far are: [1, 2, 3]
Computer has choosen: 2
The numbers so far are: [1, 2, 3, 4, 5]

Choose from 1 to 3 5

Enter a valid number

Choose from 1 to 3 1

bushra has choosen: 1
The numbers so far are: [1, 2, 3, 4, 5, 6]
Computer has choosen: 2
The numbers so far are: [1, 2, 3, 4, 5, 6, 7, 8]

Choose from 1 to 3 3

bushra has choosen: 3
The numbers so far are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Computer has choosen: 2
The numbers so far are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

Choose from 1 to 3 3

bushra has choosen: 3
The numbers so far are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Computer has choosen: 1
The numbers so far are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

Choose from 1 to 3 1

bushra has choosen: 1
The numbers so far are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Computer has choosen: 1
The numbers so far are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Choose from 1 to 3 2

bushra has choosen: 2
The numbers so far are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
Computer won !